@import url('https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap');

@import 'custom';
@import '~bootstrap/scss/bootstrap';

html,
body,
#app {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.text-clock {
  font-family: 'Orbitron', sans-serif;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  a {
    font-weight: bold;
    &.router-link-exact-active {
      display: none;
    }
  }
}

input.form-control, input.form-control:focus {
  text-align: center;
  background-color: #111;
  color: #fff;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #eee;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #eee;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #eee;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #eee;
}
